{{- if .Values.job.executeOnStartUp }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "go-mail-webhook-service.fullname" . }}-{{ .Release.Revision }}
  labels:
    {{- include "go-mail-webhook-service.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "1"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  backoffLimit: {{ .Values.job.backoffLimit }}
  ttlSecondsAfterFinished: {{ .Values.job.ttlSecondsAfterFinished }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "go-mail-webhook-service.labels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "go-mail-webhook-service.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      restartPolicy: {{ .Values.job.restartPolicy }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          workingDir: /go
          env:
            {{- range $i, $e := .Values.env }}
            - name: {{ $e.name }}
              value: {{ $e.value | quote }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /go/config
              name: {{ include "go-mail-webhook-service.fullname" . }}-config-volume
              readOnly: true
            {{- if and .Values.mailClient.gmail.enabled (or .Values.mailClient.gmail.secrets.create .Values.mailClient.gmail.secrets.name) }}
            - mountPath: {{ .Values.mailClient.gmail.mountPath }}
              name: {{ include "go-mail-webhook-service.fullname" . }}-mail-credentials
              readOnly: true
            {{- end }}
            {{- with .Values.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        - name: {{ include "go-mail-webhook-service.fullname" . }}-config-volume
          configMap:
            name: {{ include "go-mail-webhook-service.fullname" . }}-config
            items:
              - key: config.yaml
                path: config.yaml
        {{- if and .Values.mailClient.gmail.enabled (or .Values.mailClient.gmail.secrets.create .Values.mailClient.gmail.secrets.name) }}
        - name: {{ include "go-mail-webhook-service.fullname" . }}-mail-credentials
          secret:
            secretName: {{ if .Values.mailClient.gmail.secrets.name }}{{ .Values.mailClient.gmail.secrets.name }}{{ else }}{{ include "go-mail-webhook-service.fullname" . }}-mail-credentials{{ end }}
        {{- end }}
        {{- with .Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}