# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.

# Common VCS dirs
.git/
.hg/
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

# IDE/editor
.vscode/
.idea/
*.iml

# Mac / Windows
.DS_Store
Thumbs.db

# Node, Python, etc.
node_modules/
venv/
.venv/

# Helm docs and local files
README.md
README.*
examples/
test/
dev/
k3d/